//  Ширина макета
$max-width: 1920;

// Ширина контейнера

$max-width-container: 1200;

// Шрифт по умолчанию

$font-family: "Roboto", sans-serif;

// Размер шрифта по умолчанию

$font-size: 16px;

// Цвета

$primary-color: #951593;
$accent-color: #a35478;
$light-color: #eee;
$dark-color: #333;